/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-size: cover;
  background-attachment: fixed;
  --transition-duration: 0.25s;
  background-image: var(--background-image);
  background-color: var(--background-color);
  color: var(--main-text-color);
  transition-duration: var(--transition-duration);
}

.header {
  min-height: 668px;
  display: grid;
  padding: 20px;
  position: relative;
  grid-template-rows: 1fr min-content 1ft;
}

@media (width < 768px) and (width >= 375px) {
  .header {
    padding: 0 10px;
  }
}

@media (width >= 1024px) {
  .header {
    padding: 0;
  }
}

.header__rec {
  position: absolute;
  color: var(--rec-color);
  text-transform: uppercase;
  top: 21px;
  right: 49px;
}

@media (width < 768px) and (width >= 375px) {
  .header__rec {
    top: 11px;
    right: 39px;
  }
}


.header__rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 50%;
  right: 0;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--corners-color);
  border-bottom: 1px solid var(--corners-color);
  left: 20px;
  bottom: 20px;
}

@media (width < 768px) and (width >= 375px) {
  .decorated-zone::before {
    left: 10px;
    bottom: 17px;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--corners-color);
  border-top: 1px solid var(--corners-color);
  right: 20px;
  top: 20px;
}

@media (width < 768px) and (width >= 375px) {
  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }
}

.title-decor {
  background: var(--title-decor);
}

.header__theme-menu {
  padding-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header__theme-menu-list {
    gap: 11px;
  }
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  color: var(--corners-color);
  line-height: 100%;
  padding: 2.5px 12px;
  border: transparent;
  background: none;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid;
  pointer-events: none;
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
  cursor: pointer;
}

@media (width < 1024px) and (width >= 768px) {
  .header__theme-menu {
    padding-top: 174px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header__theme-menu {
    padding-top: 75px;
  }
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  margin-left: -2%;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
}

.header__title-container {
  padding: 238px 0 136px;
  display: flex;
  flex-direction: column;
  gap: 76px;
}

@media (width < 1024px) and (width >= 768px) {
  .header__title-container {
    padding: 150px 0 164px;
    gap: 133px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header__title-container {
    padding: 70px 0 74px;
    gap: 57px;
  }
}

@media (width < 1024px) and (width >= 375px) {
  .header__title {
    text-shadow: 4px 4px 0px var(--title-decor);
  }
}

@media (width >= 1024px) {
  .header__title {
  padding-left: 20px;
  }
}

@media (width < 1024px) and (width >= 768px) {
  .header__title {
    margin-left: -3%;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-left: 0;
    line-height: 82.5%;
  }
}

.header__subtitle {
  color: var(--article-title-color);
  align-self: flex-end;
  font-weight: 700;
  width: 50%;
}

@media (width < 425px) {
  .header__subtitle {
    width: 100%;
  }
}

.main {
  padding: 0 20px;
  margin: 60px 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media (width < 768px) and (width >= 375px) {
  .main {
    padding: 0 10px;
    margin: 34px 0;
    gap: 50px;
  }
}

.section {
  line-height: 130%;
}

.section__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: var(--section-title-color);
}

.dark-title {
  color: var(--article-title-color);
}

@media (width < 1024px) and (width >= 768px) {
  .section__title {
    width: 35%;
  }
}

@media (width < 768px) and (width >= 375px) {
  .section__title {
    width: 100%;
    margin-bottom: 20px;
  }
}

.section__article-list {
  display: flex;
  flex-wrap: wrap;
}

.section__article-list-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__article-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-title_regular {
  font-weight: 400;
}

.section__article-text-link {
  border: transparent;
  text-shadow: 3px 3px 0px var(--link-shadow);
  transition-duration: var(--transition-duration);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section:first-of-type,
.section:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section:first-of-type .section__title,
.section:nth-of-type(3) .section__title {
  flex: 0 0 auto;
  width: 33%;
}

@media (width < 1024px) and (width >= 768px) {
  .section:first-of-type .section__title,
  .section:nth-of-type(3) .section__title {
    width: 32%;
  }
}

@media (width < 768px) and (width >= 375px) {
  .section:first-of-type .section__title,
  .section:nth-of-type(3) .section__title {
    width: 100%;
    margin-bottom: 20px;
  }
}

.section:first-of-type .section__article-list,
.section:nth-of-type(3) .section__article-list {
  flex: 0 0 auto;
  width: 66%;
  flex-direction: column;
  gap: 20px;
}

@media (width < 1024px) and (width >= 768px) {
  .section:first-of-type .section__article-list,
  .section:nth-of-type(3) .section__article-list {
    width: 65%;
  }
}

@media (width < 768px) and (width >= 375px) {
  .section:first-of-type .section__article-list,
  .section:nth-of-type(3) .section__article-list {
    width: 100%;
  }
}

.section:nth-of-type(2) .section__title {
  width: 30%;
}

@media (width < 768px) and (width >= 375px) {
  .section:nth-of-type(2) .section__title {
    width: 100%;
  }
}

@media (width >= 1024px) {
  .section:nth-of-type(2) .section__article-list {
    justify-content: space-between;
  }
}

@media (width < 1024px) and (width >= 375px) {
  .section:nth-of-type(2) .section__article-list {
    gap: 20px;
  }
}

.section:nth-of-type(2) .section__article-item {
  flex: 0 0 auto;
  width: 32%;
}

@media (width < 1024px) and (width >= 375px) {
  .section:nth-of-type(2) .section__article-item {
    flex: 1 0 auto;
    width: 100%;
  }
}

.section:last-of-type {
  display: grid;
}

.section:last-of-type .section__title {
  grid-column: 1/-1;
  width: 100%;
  margin: 0;
}

@media (width >= 768px) {
  .section:last-of-type .section__image {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .section:last-of-type .section__image:first-of-type,
  .section:last-of-type .section__image:last-of-type {
    grid-column: span 2;
  }

  .section:last-of-type .section__image:nth-of-type(2),
  .section:last-of-type .section__image:nth-of-type(3) {
    grid-row: span 2;
  }
}

@media (width < 768px) {
  .section:last-of-type .section__image {
    width: 100%;
    height: auto;
  }

  .section:last-of-type .section__image-container {
    width: 100px;
  }
}

@media (width >= 768px) {
  .section:last-of-type {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 19px;
  }
}

@media (width < 768px) {
  .section:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.footer {
  min-height: 768px;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow);
}

@media (width >= 1024px) and (width >= 375px) {
  .footer__title {
    text-shadow: 2px 2px 0px var(--title-decor);
  }
}

@media (width < 768px) and (width >= 375px) {
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width < 1024px) and (width >= 768px) {
  .footer {
    padding: 434px 20px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .footer {
    margin-top: 40px;
    padding: 262px 10px;
  }
}

/*для светлой темы */
@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --title-color: #ffc2e6;
    --title-shadow: #ff0070;
    --title-decor: #ff8dcb;
    --hover-color: 1px solid rgba(50, 49, 45, 0.4);
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
    --article-title-color: var(--main-text-color);
    --section-title-color: var(--main-text-color);
    --border-color: var(--title-shadow);
    --corners-color: var(--main-text-color);
    --link-shadow: var(--title-color);
    --rec-color: var(--background-color);
  }
}